<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/functional/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false">
    <testsuites>
        <testsuite name="functional">
            <directory suffix="Test.php">tests/functional/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory>src/messages/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
